body {
    width: 510px;
    margin-top: 2em;
}

.carsheadadding {
    display: flex;
    margin-bottom: 1em;
    justify-content: space-between;
}

.carsname {
    margin-bottom: 0em;
    margin-top: 0em;
}

.add {
    width: 25px;
    height: 25px;
    margin-top: 0.7em;
    cursor: pointer;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.cartext {
    margin-left: 2em;
}

.car {
    border-color: lightgrey;
    border-style: inset;
    border-width: 2px;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.carhead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.carname {
    font-size: 25px;
}

.cardesc {
    display: inline-block;
    margin-top: 1em;
}

.iconsintriphead {
    width: 70px;
}

.caricons {
    height: 25px;
    width: 25px;
    margin: 0.2em;
    cursor: pointer;
}

.inputline {
    border: none;
    border-bottom: lightgrey solid 1px;
}

.editorcreate {
    margin-top: 0.6em;
    width: 240px;
}

.photowrapper {
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

    .photowrapper .removephoto {
        height: 12px;
        width: 12px;
        position: absolute;
        top: 0px;
        right: 0px;
        visibility: hidden;
        cursor: pointer;
    }

    .photowrapper .addphoto {
        height: 80%;
        width: 80%;
        position: absolute;
        top: 10%;
        left: 10%;
        visibility: hidden;
        cursor: pointer;
    }

    .photowrapper:hover .withphoto + .removephoto {
        visibility: visible;
    }

    .photowrapper:hover .addphoto {
        visibility: visible;
    }

.uploader {
    display: none;
}

.root {
    display: flex;
    flex-direction: column;
}

.paging {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.page {
    cursor: pointer;
    margin: 0.3em;
}

.currentPage {
    border-bottom: 2px solid blue;
}